/* Стилі для модалки */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Півпрозорий чорний фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Вище, ніж інший контент на сторінці */
  }
  
  .modalContent {
    position: relative;
    background-color: #fff;
    padding: 40px;
    width:420px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    /* text-align: center; */
    position: relative;
  }
  
  /* Закрити модалку */
  .modalContent button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666;
  }
  
  /* Анімація з'явлення модалки */
  @keyframes modalFadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modalContent {
    animation: modalFadeIn 0.3s ease-in-out; /* Застосовуємо анімацію з'явлення */
  }

  .container {
    display: flex;
    margin-top: 100px;
    padding: 0;
    flex-wrap: wrap;
    gap:29px;
    justify-content: center;
    z-index: -1;
}

.carItem {
    width:274px;
}

.carImg{
    width:420px;

    height: 248px;
    border-radius: 13px;
    object-fit: cover;
}

.textModalContainer{
  display: block;
  width:420px;
}

.btn {
    text-decoration: none;
    background-color: rgb(239, 159, 20);
    border: none;
    border-radius: 7px;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    font-weight: 400;
}

.btn:hover,
btn:focus {
    background-color: rgb(241, 153, 2);
}

.carItemText {
    font-size: 12px;
    color:rgba(18, 20, 23, 0.5);
}

.carItemTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 8px;
}

.carItemTitleSpan {
    color: rgb(241, 153, 2);
}

.btnLike {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
}

.likeContainer {
    position: relative;
    width: 420px;
}

.conditions{
  background-color: #F9F9F9;
  font-size: 12px;
  margin: 0;
  border-radius: 35px;
  padding-left: 5px ;
  line-height: 30px;
}

.conditionsSpan {
  color:#3470FF;
  font-weight: 600;
}

.conditionsContainer {
   display: flex;
   flex-wrap: wrap;
   gap:8px;
   margin-bottom: 8px;
}

.modalTitle {
  font-size: 14px;
  font-weight: 400;
}

.functionalities {
  width: 350px;
}